node_modules
**/node_modules

apps/api/build
apps/api/tmp
apps/api/.adonisjs
apps/api/public/*
!apps/api/public/.gitkeep
apps/api/*.sqlite3*

apps/web/.svelte-kit
apps/web/build

.env
.env.*
!.env.example

.git
.claude
prompts

*.sqlite3
*.sqlite3-wal
*.sqlite3-shm

*.xlsx